* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background: url(../assets/technology/background-technology-mobile.jpg)
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 3rem;
}
.main-logo {
  width: 2.5rem;
}
main {
  text-align: center;
}
.space-launch-101 {
  font-family: "Barlow Condensed", sans-serif;
  color: #fff;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.296875rem;
}
.space-launch-101 span {
  color: #383b4b;
  margin-right: 0.8rem;
}
.technology-image {
  width: 100%;
  height: 10.625rem;
  margin: 1.5rem 0 2.5rem 0;
}
.technology-nav-links {
  width: 50%;
  height: 2.5rem;
  margin: 0 auto;
}
.technology-nav-links a {
  color: #fff;
  text-decoration: none;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 50%;
  width: 2.5rem;
  padding: 0.613rem 0.9477rem;
  font-size: 1rem;
  font-family: "Bellefair", serif;
}
.technology-nav-links a:hover {
  border: 1px solid rgba(255, 255, 255, 1);
}
.technology-nav-links a:first-child {
  padding: 0.613rem 1.0315rem;
}
.technology-nav-links a:not(:last-child) {
  margin-right: 0.6rem;
}
.terminology {
  font-family: "Barlow Condensed", sans-serif;
  color: #d0d6f9;
  text-transform: uppercase;
  letter-spacing: 0.146875rem;
  margin-top: 0.7rem;
  font-size: 0.875rem;
}
.technology-title {
  font-size: 1.5rem;
  color: #fff;
  font-family: "Bellefair", serif;
  text-transform: uppercase;
  margin-top: 0.7rem;
}
.technology-desc {
  font-family: "Barlow", sans-serif;
  color: #d0d6f9;
  margin: 0.5rem 2rem 0 2rem;
  line-height: 1.5rem;
  font-size: 0.9375rem;
}
.technology-link-active {
  position: relative;
  background: #fff !important;
  color: #0b0d17 !important;
}
#hamburger-menu {
  cursor: pointer;
  z-index: 99;
}
.nav-links {
  display: none;
  position: absolute;
  z-index: 99;
  top: 0;
  right: 0;
  backdrop-filter: blur(20px);
  height: 100vh;
  width: 67.733333333%;
  padding: 8rem 0 0 0;
}
.nav-links ul {
  list-style: none;
  margin-left: 2rem;
}
.nav-links ul li:not(:last-child) {
  margin-bottom: 1.5rem;
}
.nav-links ul li a {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1rem;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.296875rem;
}
.sr-no {
  font-weight: 700;
}
.sr-no-00,
.sr-no-02 {
  margin-right: 0.7rem;
}
.sr-no-01 {
  margin-right: 0.8rem;
}
.sr-no-03 {
  margin-right: 0.7rem;
}
@media (min-width: 768px) {
  html {
    background: url(../assets/technology/background-technology-tablet.jpg)
      no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  #hamburger-menu {
    display: none;
  }
  .space-launch-101 {
    text-align: left;
    font-size: 1.25rem;
    margin-top: 2rem;
    margin-left: 3.3rem;
  }
  .space-launch-101 span {
    color: #383b4b;
    margin-right: 0.8rem;
  }
  .terminology {
    font-size: 1rem;
  }
  .technology-title {
    font-size: 2.5rem;
    color: #fff;
    margin-top: 0.7rem;
  }
  .technology-image {
    height: 25rem;
    width: 100%;
  }
  .technology-desc {
    margin: 0.5rem 12rem 0 12rem;
    font-size: 1rem;
  }
  .technology-nav-links a {
    font-size: 1rem;
  }
  .nav-links {
    display: block;
    position: fixed;
    height: auto;
    width: auto;
    padding: 2rem;
  }
  .nav-links ul {
    list-style: none;
    margin: 0;
  }
  .nav-links ul li:not(:last-child) {
    margin-bottom: 0;
    margin-right: 1.5rem;
  }
  .nav-links ul li {
    display: inline-block;
  }
  .nav-links ul li a span {
    display: none;
  }
  .nav-links ul li a {
    position: relative;
  }
  .nav-links ul li a:hover:not(.active)::after {
    content: "";
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    width: 76.59574468%;
    height: 0.1875rem;
    left: 0;
    bottom: -2rem;
  }
  .active {
    position: relative;
    color: #fff !important;
  }
  .active::after {
    content: "";
    position: absolute;
    background: #fff;
    width: 76.59574468%;
    height: 0.1875rem;
    left: 0;
    bottom: -2rem;
  }
}

@media (min-width: 1440px) {
  html {
    background: url(../assets/technology/background-technology-desktop.jpg)
      no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  #hamburger-menu {
    display: none;
  }
  main {
    text-align: left;
    padding-bottom: 5rem;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 0 0 3rem;
  }
  .space-launch-101 {
    text-align: left;
    font-size: 1.75rem;
    margin-top: 2rem;
    margin-left: 11.5%;
  }
  .tech-flex-container {
    display: flex;
  }
  .technology-desc {
    margin: 0;
    font-size: 1.125rem;
  }
  .technology-nav-links {
    margin-left: 11.5%;
    margin-top: 5rem;
  }
  .flex-2 {
    margin-top: 5rem;
  }
  .technology-nav-links a:first-child {
    padding: 1.29rem;
  }
  .technology-nav-links a {
    font-size: 2rem;
    display: block;
    width: 5rem;
    padding: 1.29rem;
    text-align: center;
  }
  .technology-nav-links a:not(:last-child) {
    margin-bottom: 1rem;
  }
  .technology-title {
    font-size: 3.5rem;
  }
  .flex-3 {
    order: 3;
  }
  .technology-desc {
    margin-right: 10rem;
  }
  .technology-image {
    margin-top: 0;
    width: 32.1875rem;
    height: 32.9375rem;
  }
  .nav-links {
    position: relative;
    height: auto;
    width: 60%;
    padding: 2rem 7.5rem 2rem 7.5rem;
  }
  .nav-links::before {
    content: "";
    position: absolute;
    width: 55%;
    height: 0.0625rem;
    background: rgba(255, 255, 255, 0.25);
    top: 50%;
    left: -52.5%;
  }
  .nav-links ul {
    list-style: none;
    margin: 0;
  }
  .nav-links ul li a span {
    display: inline-block;
  }
}
