@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

:root {
  --mainBg: hsl(0, 0%, 100%);
  --headerBg: hsl(0, 0%, 100%);
  --elementBg: hsl(0, 0%, 100%);
  --textColour: hsl(200, 15%, 8%);
  --inputColour: hsl(0, 0%, 52%);
  --placeholderColour: hsl(0, 0%, 52%);
  --boxShadowColour: hsl(0, 0%, 80%);
  --ionIconHoverColour: hsl(0, 0%, 52%);
}

[data-theme='dark-mode'] {
  --mainBg: hsl(207, 26%, 17%);
  --headerBg: hsl(209, 23%, 22%);
  --elementBg: hsl(209, 23%, 22%);
  --textColour: hsl(0, 0%, 100%);
  --inputColour: hsl(0, 0%, 100%);
  --placeholderColour: hsla(0, 0%, 100%, 0.5);
  --boxShadowColour: hsla(0, 0%, 0%, 0.25);
  --ionIconHoverColour: rgb(0, 255, 255);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  background-color: var(--mainBg);
  color: var(--textColour);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.spinner {
  display: block;
  position: relative;
  float: none;
  width: 80px;
  height: 80px;
  margin: 3rem auto 0 auto;
}

.spinner div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid var(--textColour);
  border-radius: 50%;
  animation: spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--textColour) transparent transparent transparent;
}

.spinner div:nth-child(1) {
  animation-delay: -0.45s;
}

.spinner div:nth-child(2) {
  animation-delay: -0.3s;
}

.spinner div:nth-child(3) {
  animation-delay: -0.15s;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1rem 2rem 1rem;
  box-shadow: 0 0 5px 2px var(--boxShadowColour);
  background-color: var(--headerBg);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.header-title {
  font-weight: 800;
}

.mode-toggler {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-weight: 600;
}

ion-icon[name='moon-outline'],
ion-icon[name='sunny-outline'] {
  margin-right: 0.75rem;
}

ion-icon[name='sunny-outline'] {
  font-size: 1.2rem;
}

ion-icon[name='close-outline'] {
  display: none;
  cursor: pointer;
  font-size: 1.5rem;
  position: absolute;
  right: 2.5%;
  top: 50%;
  transform: translateY(-50%);
}

ion-icon[name='close-outline']:hover {
  color: var(--ionIconHoverColour);
  transition: color 0.3s ease;
}

.home-page {
  padding: 1.5rem 1rem 5rem 1rem;
}

input {
  font-family: 'Nunito Sans', sans-serif;
  width: 100%;
  padding: 0.75rem 1rem 0.75rem 5rem;
  box-shadow: 0 0 10px 2px var(--boxShadowColour);
  border: none;
  font-size: 1rem;
  color: var(--inputColour);
  background-color: var(--elementBg);
}

input::placeholder {
  color: var(--placeholderColour);
}

#search-bar {
  position: relative;
}

svg {
  position: absolute;
  top: 0.75rem;
  left: 2rem;
  color: var(--inputColour);
}

select {
  cursor: pointer;
  font-family: 'Nunito Sans', sans-serif;
  width: 50%;
  border: none;
  outline: none;
  font-size: 1rem;
  box-shadow: 0 0 10px 2px var(--boxShadowColour);
  padding: 1rem;
  font-weight: 600;
  margin-top: 3rem;
  background-color: var(--elementBg);
  color: var(--textColour);
}

.countries-list {
  margin-top: 2rem;
  display: grid;
  justify-items: center;
  row-gap: 3rem;
}

.country-container {
  cursor: pointer;
  box-shadow: 0 0 10px 2px var(--boxShadowColour);
  width: 20rem;
  border-radius: 5px;
  background-color: var(--elementBg);
  transition: transform 0.3s ease;
}

.country-container:hover {
  transform: scale(1.05);
}

.flag {
  width: 20rem;
  height: 13.3125rem;
  display: block;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  object-fit: cover;
}

.country-name {
  font-weight: 800;
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

.header-text {
  font-weight: 600;
}

.country-details {
  padding: 2rem 2rem 3rem 2rem;
}

.population-container,
.region-container {
  margin-bottom: 0.5rem;
}

.hide {
  display: none;
}

.country-in-detail {
  display: none;
  padding: 3rem 1.5rem 5rem 1.5rem;
}

.back-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.35rem;
  box-shadow: 0 0 10px 2px var(--boxShadowColour);
  font-weight: 600;
  width: fit-content;
  padding: 0.5rem 2rem;
  color: var(--textColour);
  background-color: var(--elementBg);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.back-btn:hover {
  color: var(--elementBg);
  background-color: var(--textColour);
}

.big-flag {
  margin-top: 5rem;
  width: 100%;
  box-shadow: 0 0 10px 2px var(--boxShadowColour);
}

.name-of-country {
  font-weight: 800;
  margin: 2.5rem 0 2rem 0;
  font-size: 1.75rem;
}

.native-name-container,
.population-of-country-container,
.region-of-country-container,
.sub-region-container,
.top-level-domain-container,
.currencies-container {
  margin-bottom: 0.8rem;
}

.capital-of-country-container,
.languages-container {
  margin-bottom: 3rem;
}

.border-countries-text {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.border-countries {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.border-countries div {
  cursor: pointer;
  box-shadow: 0 0 10px 2px var(--boxShadowColour);
  padding: 0.5rem 1.75rem;
  background-color: var(--elementBg);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.border-countries div:hover {
  background-color: var(--textColour);
  color: var(--elementBg);
}

.no-results {
  font-size: 1.25rem;
  display: block;
  width: fit-content;
  margin: 0 auto;
}

@media (min-width: 750px) {
  input {
    width: 50%;
  }

  select {
    width: 25%;
  }

  .countries-list {
    grid-template-columns: repeat(2, 1fr);
  }

  ion-icon[name='close-outline'] {
    right: 51.5%;
  }
}

@media (min-width: 1100px) {
  .home-page {
    padding: 3rem 1rem 5rem 1rem;
  }

  .header {
    padding: 2rem 2.6rem 2rem 2.6rem;
  }

  .header-title {
    font-size: 1.5rem;
  }

  input {
    width: 185%;
  }

  select {
    margin: 0;
    width: 20%;
  }

  .search-bar-and-filter-by-region {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.6rem 0 1.6rem;
  }

  .countries-list {
    margin-top: 3rem;
    grid-template-columns: repeat(3, 1fr);
  }

  .country-flex-items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
  }

  .big-flag {
    margin: 0;
    width: 35%;
  }

  .capital-of-country-container {
    margin: 0;
  }

  .country-flex-in-detail {
    display: flex;
    gap: 5rem;
  }

  .border-countries-container {
    margin-top: 4rem;
  }

  .country-in-detail {
    padding: 3rem 3rem 5rem 3rem;
  }

  .no-results {
    font-size: 1.5rem;
  }

  ion-icon[name='close-outline'] {
    right: -80%;
  }
}

@media (min-width: 1500px) {
  select {
    margin: 0;
    width: 15%;
  }

  .countries-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
