@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');

:root {
  --sliderBarBg: hsl(174, 76%, 80%);
  --sliderBg: hsl(174, 86%, 45%);
  --sliderHover: #22aea1;
  --discountBg: hsl(14, 92%, 95%);
  --discountText: hsl(15, 100%, 70%);
  --trialBtnText: hsl(226, 100%, 87%);

  --priceComponentBg: hsl(0, 0%, 100%);
  --mainBg: hsl(230, 100%, 99%);
  --emptySliderBarBg: hsl(226, 68%, 95%);
  --togglerBg: hsl(223, 50%, 87%);
  --mainText: hsl(225, 20%, 60%);
  --trialBtnBg: hsl(227, 35%, 25%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Manrope', sans-serif;
  text-align: center;
  color: var(--mainText);
  margin-bottom: 30rem;
}

.header {
  background-color: var(--emptySliderBarBg);
  padding: 7.5rem 0 15rem 0;
  border-bottom-left-radius: 15rem;
  background-image: url(images/pattern-circles.svg);
  background-repeat: no-repeat;
  background-position: 50% 25%;
  background-size: 11.5rem;
}

.header h1 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: var(--trialBtnBg);
}

.thirty-day-trial {
  margin-bottom: 0.35rem;
}

.pricing-component {
  width: 90%;
  background-color: var(--priceComponentBg);
  position: absolute;
  top: 35.5rem;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  box-shadow: 0 15px 30px -5px var(--emptySliderBarBg);
}

input[type='range'] {
  -webkit-appearance: none;
  margin-bottom: 3rem;
  width: 100%;
  border-radius: 10px;
}

input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.5rem;
  border: none;
  border-radius: 5px;
}

input[type='range']::-webkit-slider-thumb {
  cursor: pointer;
  -webkit-appearance: none;
  border: none;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: var(--sliderBg);
  margin-top: -20px;
  background-image: url(images/icon-slider.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.75rem;
  box-shadow: 0 15px 30px -5px var(--sliderBg);
  transition: background-color 0.3s ease;
}

input[type='range']::-webkit-slider-thumb:hover {
  background-color: var(--sliderHover);
}

input[type='range']::-moz-range-track {
  width: 100%;
  height: 0.5rem;
  border: none;
  border-radius: 5px;
}

input[type='range']::-moz-range-thumb {
  cursor: pointer;
  -webkit-appearance: none;
  border: none;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: var(--sliderBg);
  margin-top: -20px;
  background-image: url(images/icon-slider.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.75rem;
  box-shadow: 0 15px 30px -5px var(--sliderBg);
  transition: background-color 0.3s ease;
}

input[type='range']::-moz-range-thumb:hover {
  background-color: var(--sliderHover);
}

input[type='range']:focus {
  outline: none;
}

.page-view-container {
  letter-spacing: 2.5px;
  font-weight: 800;
  margin-bottom: 3rem;
}

.bill-per-month {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2.5rem;
}

.bill {
  font-size: 2.5rem;
  color: var(--trialBtnBg);
  font-weight: 800;
}

.billing-container,
.monthly-billing,
.yearly-billing {
  font-size: 0.88rem;
  display: flex;
  align-items: center;
}

.billing-container {
  gap: 1rem;
}

.billing-container::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1.5px;
  background-color: var(--emptySliderBarBg);
  left: 0;
  top: 20.5rem;
}

.monthly-billing,
.yearly-billing {
  gap: 0.75rem;
}

.monthly-switch {
  position: relative;
  display: inline-block;
  width: 52.5px;
  height: 27.5px;
}

.monthly-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.monthly-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--togglerBg);
  transition: 0.3s ease;
  border-radius: 35px;
}

.monthly-slider::before {
  position: absolute;
  content: '';
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 5px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

.monthly-slider:hover {
  background-color: var(--sliderBg);
}

input:checked + .monthly-slider::before {
  -webkit-transform: translateX(11px);
  -ms-transform: translateX(11px);
  transform: translateX(11px);
}

.minus {
  display: inline;
}

.discount-text {
  display: none;
}

.discount {
  background-color: var(--discountBg);
  color: var(--discountText);
  border-radius: 35px;
  padding: 0.15rem 0.75rem;
  font-weight: 800;
}

.features-container {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}

.feature {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 0.88rem;
}

.checkmark {
  background-image: url(images/icon-check.svg);
  width: 0.5625rem;
  height: 0.5rem;
}

.trial-btn {
  cursor: pointer;
  font-family: 'Manrope', sans-serif;
  background-color: var(--trialBtnBg);
  color: var(--trialBtnText);
  border: none;
  padding: 0.75rem 3.5rem;
  margin-top: 2.5rem;
  border-radius: 35px;
  font-weight: 800;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.trial-btn:hover {
  background-color: var(--trialBtnText);
  color: var(--trialBtnBg);
}

@media (min-width: 375px) {
  input:checked + .monthly-slider::before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
  }
}

@media (min-width: 425px) {
  .pricing-component {
    width: 25rem;
  }

  input:checked + .monthly-slider::before {
    -webkit-transform: translateX(27px);
    -ms-transform: translateX(27px);
    transform: translateX(27px);
  }
}

@media (min-width: 750px) {
  .header h1 {
    font-size: 1.75rem;
  }

  .thirty-day-trial {
    display: inline-block;
    margin: 0;
  }

  .pricing-component {
    width: 40rem;
    padding: 3rem;
    top: 33.5rem;
  }

  .pricing-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }

  input[type='range'] {
    margin-bottom: 4.5rem;
  }

  .slider {
    order: 3;
    flex: 0 1 100%;
  }

  .billing-container {
    justify-content: center;
  }

  .minus {
    display: none;
  }

  .discount-text {
    display: inline;
  }

  .billing-container::after {
    top: 18.5rem;
  }

  .features-and-trail-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5.5rem;
  }

  .trial-btn {
    margin: 0;
  }

  .features-container {
    margin: 0;
    align-items: flex-start;
  }
}
